body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: black;
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: rgb(117, 112, 112);
    color: red;
    font-size: 150%;
    text-transform: capitalize;
}

h3 {
    background-color:burlywood;
    color: DarkMagenta;
    font-size: 130%;
}

p {
    background-color: white;
    line-height: 150%;
}

address {
    background-color: white;
    font-style: normal;
    text-align: right;
}
